.meal-recommend-list .swiper-initialized .swiper-wrapper .swiper-slide {
  width: 250px !important;
}
.meal-recommend-list .swiper-initialized {
  margin-left: 0;
}
.meal-recommend-item {
  transition: all 0.3s linear;
  background-color: #f1f2f3;
  &:hover {
    transform: scale(1.05);
  }
}
